{
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "semi": true,
    "importOrder": [
        "^react$",
        "^next",
        "<THIRD_PARTY_MODULES>",
        "^@/.*/(.*)$",
        "^@/*/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
